extends layout

block content
  h1= title
  div(class="container")
  div(class="row")
    div(class="col")
      form(method='POST' action='/add-rule/')
        div(class="form-group")
          input.searchTerm(type='text' name='q' placeholder='Enter new tweet rule...' required='true')
          button.searchButton(type='submit') Apply
      b Active Rules:
      div.scrollTable
        table(class="table")
          tbody
            each rule in rules
              form(method='POST' action='/delete-rule/')
                div(class="form-group")
                  tr
                    td=rule.value
                    td
                      button(type="submit" name="delete" value=rule.id class="btn btn-danger deleteButton") Delete
      div
      form(method='POST' action='/')
        b Twitter Stream: <button class="btn refreshButton"> <span class="glyphicon glyphicon-refresh"></span> Refresh </button>
      br
      .scrollTweets
        each tweet in tweets
          ul #{tweet.tweetText} <b> tag:</b> #{tweet.tag}, <b>score:</b> (#{tweet.score}, #{tweet.comparativeScore})
    div(class="col")
      p Sentiment Analysis stuff goes this side

      div(class="row")
        canvas#myChart(data-series=barChartData)

      br

      div(class="row")
        canvas#lineChart(data-series=lineGraphData)

      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
      <script src="/javascripts/genChart.js"></script>
