extends layout

block content
  h1= title
  div(class="container")
  div(class="row")
    div(class="col")
      h4 Add rules to filter real-time Tweets for Sentiment Analysis
      if rules.length < 5
        form(method='POST' action='/add-rule/')
          div(class="form-group")
            input.searchTerm(type='text' name='q' placeholder='Enter new tweet rule...' required='true')
            button.searchButton(type='submit') Apply
      else
        div
          div(class="form-group") 
            input.searchTerm(type='text' id='error' placeholder='Max rules reached. Delete rules to add more.' style="placeholder:{color:red}" required='true')
            button.searchButton(type='submit') Apply
      b Active Rules:
      div.scrollTable
        table(class="table")
          tbody
            each rule in rules
              form(method='POST' action='/delete-rule/')
                div(class="form-group")
                  tr
                    td=rule.value
                    td
                      button(type="submit" name="delete" value=rule.id class="btn btn-danger deleteButton") Delete
      b Twitter Stream:
      div.scrollTweets
        each tweet in tweets
          ul <b>Tweet: </b>#{tweet.tweetText} <b> Tag:</b> #{tweet.tag}, <b>Score:</b> #{tweet.score}
    div(class="col")
      form(method='POST' action='/')
        h4 Sentiment Analysis <button class="btn refreshButton"> <span class="glyphicon glyphicon-refresh"></span> Refresh </button>
      br
      canvas#myChart(data-series=barChartData)
      h4 Historical Sentiment
      canvas#lineChart(data-series=lineGraphData)
